body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #88cfc3;
}

.quem-somos {
    background-color: #418f99;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #0f363b;
}

.bg-footer {
    background-color: black;
    color: white;
}